.userChat-main-container{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 260px);  /* Takes the full width of the viewport */
    height: 100vh;
}

.userChat-separator{
    height: 1px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 5px;
}

.userChat-Top{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    gap: 15px;
}

.userChat-img{
    height: 130px;
    width: 130px;
    border-radius: 80px;
    border: 2px solid rgb(50,50,50);
}

.userChat-username{
    font-weight: 200;
    font-size: 45px;
    margin-top: 35px;
    color: gray;
}

.userChat-Middle{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(100vh - 220px);
    padding-right: 10px; /* Adds padding to ensure the scrollbar doesn't overlap content */
    row-gap: 10px;
    height: 10000px;
}

.userChat-Bottom{
    display: flex;
    padding-left: 5px;
    gap: 25px;
    padding-top: 5px;
}

.userChat-input{
    color: white;
    font-weight: 200;
    font-size: 25px;
    background-color: #141414;
    border: 1px solid rgb(50,50,50);
    width: 1560px;
    height: 55px;
    border-radius: 50px;
    padding-left: 20px;
}

.userChat-sendIMG{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    cursor: pointer;
}

.userChat-sendIMG:hover{
    background-color: rgb(50,50,50);
    border-radius: 10px;
    height: 45px;
    width: 45px;
    transition: all 0.3s;
}

.userChatFrom {
    display: flex;
    padding-left: 10px;
    gap: 10px;
    align-items: center; /* Ensures proper alignment of the image and text */
}

.userChat-fromIMG{
    height: 100px;
    width: 100px;
    border-radius: 80px;
    border: 2px solid rgb(50,50,50);
}

.userChat-fromMSG {
    background-color: #141414;
    border: 1px solid rgb(50,50,50);
    border-radius: 30px; /* Adjusted to match the smaller size */
    color: white;
    font-weight: 200;
    font-size: 25px;
    padding: 10px 15px; /* Simplified padding */
    max-width: calc(100vw - 400px); 
    word-wrap: break-word; /* Ensures long words wrap within the container */
}

.userChatTo {
    display: flex;
    justify-content: flex-end; /* Aligns the entire chat message to the right */
    padding-left: 10px;
    gap: 10px;
    align-items: center; /* Ensures proper alignment of the image and text */
}

.userChat-ToMSG {
    background-color: rgb(50,50,50);
    border: 1px solid gray;
    border-radius: 30px; /* Adjusted to match the smaller size */
    color: white;
    font-weight: 200;
    font-size: 25px;
    padding: 10px 15px; /* Simplified padding */
    max-width: calc(100vw - 50px); /* Adjusted to give more space and avoid edge overflow */
    word-wrap: break-word; /* Ensures long words wrap within the container */
    text-align: left; 
}