.main-container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 5px;
    height: 100vh;
}

.search-input{
    border-radius: 100px;
    height: 50px;
    width:  700px;
    background-color: rgb(50,50,50);
    margin-top: 25px;
    margin-left: 5px;
    font-size: 30px;
    padding-left: 15px;
    border: 1px solid gray;
    color: white;
    font-weight: 100;
}

.div-test{
    display: flex;
    gap: 15px;
}

.search-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: calc(100vh - 90px);
    padding-right: 10px; /* Adds padding to ensure the scrollbar doesn't overlap content */
    row-gap: 20px;
}

.search-icon{
    height: 45px;
    width: 45px;
    margin-top: 25px;
    cursor: pointer;
}

.search-item {
    display: flex;
    background-color: #141414;
    padding: 10px 20px; /* Adjusted padding */
    margin-bottom: 10px; /* Added margin to separate items */
    border-radius: 100px;
    height: 150px;
}

.search-pfp {
    height: 130px;
    width: 130px;
    border-radius: 80px;
    border: 2px solid rgb(50,50,50);
}

.search-details-container {
    color: white;
    padding-top: 25px;
    padding-left: 20px;
    width: 100vh;
}

.search-username {
    display: flex;
    font-weight: 200;
    font-size: 30px;
}

.search-status{
    color: gray;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 10px;
}

.search-bio {
    font-weight: 100;
    color: gray;
    font-size: 25px;
}

.btn-div-open{
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

.btn-div-close{
    display: flex;
    gap: 20px;
    padding-top: 30px;
    margin-left: 150px;
}

.search-btnRQ {
    display: flex;
    color: white;
    background-color: #141414;
    width: 260px;
    height: 70px;
    font-size: 30px;
    font-weight: 200;
    border: 1px solid gray;
    border-radius: 100px;
    cursor: pointer;
    transition: width 0.5s ease;
    padding-top: 11px;
    padding-left: 10px;
    gap: 10px;
}

.search-btnRQIcon{
    height: 45px;
    width: 45px;
}

.search-btnRQText{
    font-size: 25px;
    margin-top: 5px;
}

.search-btnMSG {
    display: flex;
    color: white;
    background-color: #141414;
    width: 260px;
    height: 70px;
    font-size: 30px;
    font-weight: 200;
    border: 1px solid gray;
    border-radius: 100px;
    cursor: pointer;
    transition: width 0.5s ease;
    gap: 10px;
    padding-top: 11px;
    padding-left: 10px;
}

.search-btnMSGIcon{
    height: 45px;
    width: 45px;
}

.search-btnMSGText{
    font-size: 25px;
    margin-top: 5px;
}

.search-btnMSG:hover {
    background-color: rgb(50,50,50);
    transition: 0.6s;
    border: 1px solid white;
}

.search-btnRQ:hover {
    background-color: rgb(50,50,50);
    transition: 0.6s;
    border: 1px solid white;
}
