.friends-container-main {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 5px;
    height: 100vh;
    width: calc(100vw - 260px);
}

.friends-container-close {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 5px;
    height: 100vh;
    width: calc(100vw - 100px);
}

.friend-separator {
    height: 1px;
    background-color: gray;
    margin: 20px 15px; /* Adjust the margins to not touch the edges */
}

.friends-title {
    font-weight: 200;
    color: gray;
    font-size: 35px;
    padding-left: 10px;
    margin-bottom: -20px;
}

.friends-container {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: calc(100vh - 90px);
    padding-right: 10px; /* Adds padding to ensure the scrollbar doesn't overlap content */
    row-gap: 20px;
}

.friend-item {
    display: flex;
    background-color: #141414;
    padding: 10px 20px; /* Adjusted padding */
    margin-bottom: 10px; /* Added margin to separate items */
    border-radius: 100px;
    height: 150px;
    width: calc(100% - 10px);
}

.friend-item-pfp {
    height: 130px;
    width: 130px;
    border: 2px solid rgb(50,50,50);
    border-radius: 80px;
}

.friend-item-details-container {
    color: white;
    padding-top: 25px;
    padding-left: 20px;
    width: 100vh;
}

.friend-item-username {
    display: flex;
    font-weight: 200;
    font-size: 30px;
}

.friend-status{
    color: gray;
    font-size: 25px;
    padding-top: 5px;
    padding-left: 10px;
}

.friend-item-bio {
    font-weight: 100;
    color: gray;
    font-size: 25px;
}

.friend-item-btn-open {
    display: flex;
    color: white;
    background-color: #141414;
    width: 240px;
    height: 60px;
    font-size: 30px;
    font-weight: 200;
    border: 1px solid gray;
    border-radius: 100px;
    padding-right: 10px;
    cursor: pointer;
    margin-top: 35px;
    margin-left: auto;
    padding-left: 30px;
    transition: width 0.5s ease;
}

.friend-item-btn-close {
    display: flex;
    color: white;
    background-color: #141414;
    width: 240px;
    height: 60px;
    font-size: 30px;
    font-weight: 200;
    border: 1px solid gray;
    border-radius: 100px;
    padding-right: 10px;
    cursor: pointer;
    margin-top: 35px;
    margin-left: auto;
    padding-left: 30px;
    transition: width 0.5s ease;
}

.friend-btnText{
    padding-left: 20px;
    padding-top: 7px;
}

.friend-item-btn-icon{
    width: 40px;
    height: 40px;
    margin-top: 10px;
}

.friend-item-btn-open:hover {
    background-color: rgb(50,50,50);
    transition: 0.6s;
    border: 1px solid white;
}

.friend-item-btn-close:hover {
    background-color: rgb(50,50,50);
    transition: 0.6s;
    border: 1px solid white;
}